langchain
langchain-community
langchain-groq
langchain-core
langchain-text-splitters
langchainhub
langchain-huggingface
langchain-chroma
sentence-transformers
Unstructured
python-dotenv
jupyter
markdown
streamlit
torch

